*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}
.drawer-input input{
    display: flex;
    flex-direction: column;
    padding: .4rem;
    margin-top: 2.4rem;
    margin-left: 5rem;
}
.drawer-btn{
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    background-color: green;
    color: #fff;
    cursor: pointer;
    margin-left: 5rem;
    margin-top: 4rem;
}
.drawertwo-btn{
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    background-color: red;
    color: #fff;
    cursor: pointer;
    margin-left: 3rem;
}